
<link href="https://fonts.googleapis.com/css?family=Orbitron|Pacifico|Press+Start+2P|VT323" rel="stylesheet">

<style type="text/css">
	.header{
		width: 100%;
		position:fixed;
		top: 0px;
		background-color:#094273;
		color:white;
		z-index:1000000;
		text-align:center;
		min-height:55px;
	}
	.header a {
		margin:12px 20px;
		display:block;
		float:right;
		color: #D6E116;
	}
	.header a:hover {
		color: white;
	}
	#schattenskulptura a {
		color:white;
		margin-top:8px;
		margin-left:10px;
		float:left;
		font-size:35px;
		/*font-family: 'Pacifico', cursive;
		font-family: 'VT323', monospace;
		*/
		font-family: 'Press Start 2P', monospace;
	}
	#schattenskulptura:hover a {
		color: #C6CF2C;
	}
</style>
