<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<title>Alternative Skulpturprojekte Münster - {{ page.title }}</title>

	<!-- Behavioral Meta Data -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" type="image/png" href="IMG/small-logo-01.png" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" rel="stylesheet" />
  <link href="/CSS/schattenskulptura.css" rel="stylesheet" />
  <link href="/CSS/spore-font.css" rel="stylesheet" />

{% include headerstyle.html %}

</head>
<body>

  {% include top_bar_menu.html %}

  <section class="hero headstyle">
    <div class="hero-body">
      <div class="container has-text-centered">
        <a href="/">
          <img src="/IMG/schattenskulptura-logo.png" width="400px">
        </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="heading">
        <h1 class="title">{{ page.title }}</h1>
        <h2 class="subtitle">
        </h2>
      </div>
      <br />

      <div class="content">

            {{ content }}

      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          {% for post in site.categories.kleingedrucktes %}
            <a class="white" href="{{ post.link | default: post.url  }}">
              {{ post.title }}
            </a> &nbsp;
          {% endfor %}


        </p>
      </div>
    </div>
  </footer>

</body>
</html>
